process {
    executor = 'local' // or 'slurm', 'sge', etc.
    cpus = 2
    memory = '4.GB' // Default memory

    withName: 'BOWTIE2_ALIGN_PROCESS' {
        cpus = 8
        memory = '16.GB'
    }
    // Add other process-specific resource requests
}

conda.enabled = true
// conda.cacheDir = '/path/to/my/conda_cache' // Optional: specify conda cache
